
body{
    background-color: #b6b1b1;
}

#miTitulo {
    font-size: 24px;
    color: #3498db; /* Azul */
    text-align: center;
}

/* Estilo para el campo de entrada de texto */
#nuevoTexto {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

/* Estilo para el botón */
button {
    background-color: #2ecc71; /* Verde */
    color: #fff; /* Texto en blanco */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Estilo para el botón al pasar el mouse por encima */
button:hover {
    background-color: #27ae60; /* Verde más oscuro */
}
.giphy-embed {
    display: block;
    margin: 0 auto; /* Centrar el iframe */
}

/* Estilo para el enlace dentro del iframe */
.giphy-embed a {
    text-align: center;

    display: block;
    color: #3498db; /* Color azul para el enlace */
}